<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>E-Library</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <style>
        div {
            text-align: center;
            height: 100vh;
            position: relative;
            background-color: white;
        }
        .center{
            width: 50%;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        img{
            width: 30vw !important;
        }
    </style>

</head>
<body>
<div>
    </br>
    <h1> LOGO BOSS </h1>
    <img class="center" src="../../../public/images/jpg/logo.jpg"/>
</div>

</body>
</html>